

#addSourceForm div input[type='submit']{
    font-size: 22px;
    font-weight: bold;

}
#addSourceForm div input {
    margin-right: 5px;
}

.messageBox {
    width: fit-content;
}

.settings-form{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.settings-form h3, .settings-form i {
    margin: 5px;
}

.settings-form i {
    cursor: pointer;
}